:root {
    /* Colors Rebranding */
    --w-black: #000000;
    --w-black1: #0000001a;
  
    /* gray-scale */
    --w-grey: #ededed;
    --w-grey1: #0000008c;
    --w-grey2: #f2f3f7;
  
    /* white-scale */
    --w-white: #ffffff;
    --w-white1: #fdeae8;
    --w-white2: #eef3fd;
  
    /* Colors */
    --color-primary: #fff159;
    --color-error: #e63020;
    --color-blue: #1877f2;;
    --color-green: #25d366;
  }
  